body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

section {
  margin-top: 30px;
  margin-left: 50px;
  max-width: 700px; 
}

p {
  margin: 5px;
  line-height: 1.5em;
}

p:last-of-type {
  margin-bottom: 20px;
}

label, input {
  display: block; 
  padding: 5px; 
  margin: 5px;
}

label {
  font-weight: bold;
}

input[type=submit] {
  padding: 7px; 
  width: 182px;; 
  margin-top: 15px;
}

form {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  section {
    margin: 15px;
  }
}
